<div class="col-lg-6">
  <form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value, form.valid)">
    <div class="form-group ">

      <!-- Name -->
      <label for="name">Name:</label>
      <input type="text" name="name" class="form-control" formControlName="name" id="name" placeholder="Name"/>
      <div *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')"
           class="alert alert-danger">
        Please enter a name
      </div>
      <div *ngIf="form.controls['name'].hasError('minlength')" class="alert alert-danger">
        Your field is too short
      </div>
      <div *ngIf="form.controls['name'].hasError('maxlength')" class="alert alert-danger">
        Your field is too long
      </div>
      <div *ngIf="form.controls['name'].hasError('pattern')" class="alert alert-danger">
        You entered not valid name
      </div>

      <!-- Age -->
      <label for="age">Age:</label>
      <input type="text" name="age" id="age" class="form-control" formControlName="age" placeholder="Age"/>
      <div *ngIf="form.controls['age'].touched && form.controls['age'].hasError('required')"
           class="alert alert-danger">
        Please enter a age
      </div>
      <div *ngIf="form.controls['age'].hasError('ageLength')" class="alert alert-danger">
        You entered not valid age
      </div>
      <div *ngIf="form.controls['age'].hasError('pattern')" class="alert alert-danger">
        You entered not valid age
      </div>

      <!-- E-mail -->
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="E-mail"/>
      <div *ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')"
           class="alert alert-danger">
        Please enter a e-mail
      </div>
      <div *ngIf="form.controls['email'].hasError('minlength')" class="alert alert-danger">
        Your field is too short
      </div>
      <div *ngIf="form.controls['email'].hasError('maxlength')" class="alert alert-danger">
        Your field is too long
      </div>
      <div *ngIf="form.controls['email'].hasError('pattern')" class="alert alert-danger">
        You entered not valid e-mail
      </div>
      <div formGroupName="password">
        <!-- Password -->
        <label for="psw">Password:</label>
        <input type="password" name="psw" id="psw" class="form-control" formControlName="psw" placeholder="Password"/>
        <div
          *ngIf="form.controls['password'].controls['psw'].touched && form.controls['password'].controls['psw'].hasError('required')"
          class="alert alert-danger">
          Please enter a password
        </div>
        <div *ngIf="form.controls['password'].controls['psw'].hasError('minlength')"
             class="alert alert-danger">
          Your field is too short
        </div>
        <div *ngIf="form.controls['password'].controls['psw'].hasError('maxlength')"
             class="alert alert-danger">
          Your field is too long
        </div>
        <div *ngIf="form.controls['password'].controls['psw'].hasError('pattern')" class="alert alert-danger">
          You entered not valid password
        </div>

        <!-- Confirm password -->
        <label for="cpsw">Confirm password:</label>
        <input type="password" name="cpsw" id="cpsw" class="form-control" formControlName="cpsw"
               placeholder="Confirm password"/>
        <div
          *ngIf="form.controls['password'].controls['cpsw'].touched && form.controls['password'].controls['cpsw'].hasError('required')"
          class="alert alert-danger">
          Please enter a password
        </div>
        <div *ngIf="form.controls['password'].controls['cpsw'].hasError('minlength')"
             class="alert alert-danger">
          Your field is too short
        </div>
        <div *ngIf="form.controls['password'].controls['cpsw'].hasError('maxlength')"
             class="alert alert-danger">
          Your field is too long
        </div>
        <div *ngIf="form.controls['password'].controls['cpsw'].hasError('pattern')"
             class="alert alert-danger">
          You entered not valid password
        </div>
        <div *ngIf="form.controls['password'].hasError('pswEqual')"
             class="alert alert-danger">
             Passwords not equal
        </div>
      </div>

      <!-- Country -->
      <label for="country">Country:</label>
      <select class="form-control" formControlName="country" id="country">
        <option>Armenia</option>
        <option>England</option>
        <option>Italy</option>
        <option>Germany</option>
        <option>USA</option>
      </select>
      <div *ngIf="form.controls['country'].touched && form.controls['country'].hasError('required')"
           class="alert alert-danger">
        Please enter a country
      </div>

      <!-- Phones -->
      <div formArrayName="phones">
        <div class="form-group" *ngFor="let phone of form.controls['phones'].controls; let i = index">
          <label for="phone">Phone:</label>
          <input class="form-control" id="phone" formControlName="{{i}}"/>
          <div
            *ngIf="form.controls['phones'].controls[i].touched && form.controls['phones'].controls[i].hasError('required')"
            class="alert alert-danger">
            Please enter a phone
          </div>
          <div *ngIf="form.controls['phones'].controls[i].hasError('pattern')"
               class="alert alert-danger">
            You entered not valid phone
          </div>
        </div>
        <img src="../../resources/add-phone.png" alt="add new field" title="add new field" class="icon"
             (click)="addPhone()"/>
      </div>

      <!-- Language -->
      <div class="checkbox" formArrayName="language">
        <p><strong>Language:</strong></p>
        <label class="checkbox-inline">
          <input type="checkbox" value="armenian" formControlName="0" checked/> Armenian
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="russian" formControlName="1"/> Russian
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="english" formControlName="2"/> English
        </label>
      </div>

      <!-- Gender -->
      <div class="radio">
        <p><strong>Gender:</strong></p>
        <label class="radio-inline">
          <input type="radio" name="gender" value="male" formControlName="gender" checked="checked" /> Male
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" value="female" formControlName="gender"/> Female
        </label>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" [disabled]="form.invalid" class="btn btn-danger" value="Submit">
    </div>
  </form>
</div>
